// Colors
$off-white: #F5F4F2;
$dirty-white: #d2d0cd;
$light-grey: #888888;
$grey: #5E5C5C;
$dark-grey: #333;
$light-green: #7CA321;
$green: #60851b;
$dark-red: #620B11;
$orange: #B54A21;
$light-purple: #d500f9;
$purple: #702E9C;

// Font Sizes
$font-size-large: 1.8rem;
$font-size-small: 1.5rem;

// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;