.container {
    margin: 0 auto;
    max-width: 65vw;
    padding: 0 $m-size;
    @media(max-width: $desktop-breakpoint){
        max-width: 80rem;
    }
}

.container__content {
    color: $grey;
}

.container__content__link {
    @extend .container__content;
    text-decoration: none;
}

.content-body {
    display: flex;
    flex: row;
    margin-left: $s-size;
}