.form {
    display: flex;
    flex-direction: column;
    margin-top: $s-size;
}

.form__group {
    @extend .form;
    margin-bottom: $s-size;
}

label {
    margin: 0 0 $s-size 0;
}

.form__error {
    color: $orange;
    font-style: italic;
    text-align: center;
}

.form__button-well {
    display: flex;
    justify-content: space-between;
    @media(max-width: $desktop-breakpoint){
        flex-direction: column;
    }
}