.header {
    background: $light-grey;
}

.header__content {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: $s-size 0;
}

.header__link {
    color: $off-white;
    text-decoration: none;
    h1 {
        margin: 0;
    }
}
