.text-input {
    border: 1px solid #cacccd;
    border-radius: 2px;
    height: 50px;
    font-size: $font-size-large;
    font-weight: 300;
    padding: $s-size;
}

.text-input:focus {
    outline: none;
    border: 1px solid $purple;
    transition: border-bottom 0.4s ease-in-out;
}

.text-input__error {
    @extend .text-input;
    border: 1px solid $orange;
}

.select {
    @extend .text-input;
}

.textarea {
    @extend .text-input;
    height: 10rem;
}