.list-container {
    @extend .container;
    margin-top: $m-size;
}

.list-body {
    margin-bottom: $m-size;
    padding-right: 20vw;
    @media (max-width: $desktop-breakpoint){
        flex-direction: column;
        padding-right: 0;
    }
}

.list-header {
    background: $off-white;
    border: 1px solid darken($off-white, 7);
    border-radius: 5px 5px 0 0;
    color: $grey;
    display: flex;
    justify-content: space-between; 
    padding: $s-size $m-size;
}

.list-item {
    border: 1px solid darken($off-white, 7);
    border-top: none;
    padding: $s-size;
    transition: background .3s ease;
    &:hover {
        background: $off-white;
        opacity: 1;
    } 
}

.list-item__body {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: $dark-grey;
    @media (min-width: $desktop-breakpoint) {
        align-items: flex-start;
        flex-direction: row;
        justify-content: space-between;
        padding: $m-size;
    }
}

.list-item__archived {
    background: linear-gradient(to top right, rgba($purple, .5), rgba($orange, .5));
}

.list-item__data {
    margin: $s-size 0 0 0;
    @media (min-width: $desktop-breakpoint) {
        margin: 0;
        padding-left: $s-size;
    }
}

@media (max-width: $desktop-breakpoint) {
    .list-item__order:first-child {
        order: 2;
    }

    .list-item__order:last-child {
        order: 1;
    }
}

.list-item__message {
    align-items: center;
    justify-content: center;
    color: $grey;
    padding: $m-size;
    &:hover {
        background: none;
    }
}

.list-item__title {
    margin: 0;
    word-break: break-all;
}

.list-item__sub-title {
    color: $grey;
    font-size: $font-size-small;
}