.page-header {
    background: $off-white;
    padding: $l-size 0;
    color: $grey;
}

.page-header__actions {
    margin-top: $m-size;
}

.page-header__content {
    display: flex;
    justify-content: space-between;
}

.page-header__sub-title {
    font-weight: 300;
    color: $light-grey;
    margin-top: 0;
}

.page-header__title {
    font-weight: 300;
    padding-left: $s-size;
    padding-right: $s-size;
    margin: 0;
    span {
        font-weight: bold;
    }
}