.page-header {
    background: $off-white;
    padding: $l-size 0;
    color: $grey;
}

.page-header__inline {
    @extend .page-header;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    > div:nth-child(1) {
        flex-grow: 1;
    }
    > div:nth-child(2) {
        flex-grow: 5;
    }
    > div:nth-child(3) {
        flex-grow: 1;
    }
    @media (max-width: $desktop-breakpoint) {
        flex-direction: row;
        > div:nth-child(1){
            order: 2;
        }
        > div:nth-child(2) {
            order: 1;
        }
        > div:nth-child(3) {
            order: 3;
        }
    }
}

.page-header__actions {
    margin: $m-size $m-size 0 $m-size;
    display: flex;
    justify-content: space-between;
}

.page-header__content {
    display: flex;
    justify-content: space-between;
}

.page-header__sub-title {
    font-weight: 300;
    color: $light-grey;
    margin-top: 0;
}

.page-header__title {
    font-weight: 300;
    padding-left: $s-size;
    padding-right: $s-size;
    margin: 0;
    span {
        font-weight: bold;
    }
}