.page-header {
    background: $off-white;
    padding: $s-size 0;
    color: $grey;
}

.page-header__actions {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.page-header__content {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: flex-start;
    padding-right: 20vw;
    @media (max-width: $desktop-breakpoint){
        flex-direction: column;
        padding-right: 0;
    }
}

.page-header__sub-title {
    font-weight: 300;
    color: $light-grey;
    margin-top: 0;
}

.page-header__title {
    font-weight: 300;
    padding-left: $l-size;
    padding-right: $s-size;
    margin: 0;
    span {
        font-weight: bold;
    }
    @media (max-width: $desktop-breakpoint){
        padding-left: $s-size;
    }
}